---
export interface Props {
    data: any;
}
const { data } = Astro.props as Props;
import { parse } from 'node-html-parser';
import moment from 'moment';
console.log(data)
function ordinal(i) {
    var j = i % 10,
    k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
};
function gamemode(gm) {
    if (gm === 1) return "1v1";
    if (gm === 2) return "2v2";
    return "Other"
}
let tourneyIcon = `
    <a class="flex w-20 h-20 rounded-lg bg-slate-700 justify-center items-center text-center">
        <div class="text-4xl text-slate-100 place-self-center">
            ${data.tournament.name[0].toLocaleUpperCase()}
        </div>
    </a>`;
let placement = data.userEntrant.standing !== null 
    ? `<div class="text-base md:text-lg font-thin text-slate-800 dark:text-slate-200"><span class="font-bold">${ordinal(data.userEntrant.standing.placement)}</span> out of ${data.numEntrants}</div>` 
    : `<div class="text-base md:text-lg font-thin text-slate-800 dark:text-slate-200">no placement</div>`;
if (data.tournament.images.filter(p => p.type === "profile")[0] !== undefined) tourneyIcon = `<img class="w-20 h-20 rounded-lg" src="${data.tournament.images.filter(p => p.type === "profile")[0].url}">`;
---
<div class="cursor-pointer py-1 flex md:items-center bg-white border border-gray-200 rounded-lg shadow md:max-w-xl hover:bg-gray-200 dark:border-gray-800 dark:bg-gray-900 dark:hover:bg-gray-800">
    {parse(tourneyIcon)}
    <div class="pl-2 flex flex-col">
        <header class="flex gap-4">
            <div>
                <h3 class="text-lg font-medium text-slate-100">{data.tournament.name}</h3>
                <p class="text-sm text-slate-400">{gamemode(data.gamemode)} ~ {moment(new Date(data.startAt * 1000)).format('llll')}</p>
            </div>
        </header>
        {parse(placement)}
        <div class="flex text-center items-center">
            
        </div>
    </div>
</div>